<span class="fas fa-user-friends fa-5x orange mx-auto d-block"></span>
<h1>とりあえずつぶやいてみよう</h1>
<p>snsを始めよう</p>
<button type="button" class="btn btn-primary mx-auto d-block">アカウント作成</button>
<br>
<button type="button" class="btn btn-outline-info mx-auto d-block">ログイン</button>
<div class="sub fixed-bottom">
</div>
